
  {% include "header.html" %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Retirement Home Quality, Staffing, and Surrounding Area Overview</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="well">
      <h3>General Stats Overview: </h3>
    </div>
    <div class="row">
      <div class="col-md-2">
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>
<!-- The div that holds our map -->
<div id="map"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- Our JavaScript -->
<script type="text/javascript" src="../JS/snbDashboard.js"></script>
<script type="text/javascript" src="../JS/mppDashboard.js"></script>
<script type="text/javascript" src="../JS/kmbMaps.js"></script>
</body>

</html>